html
  head
    title= title
    link(rel='stylesheet' href='/css/styles.css')
  body
    include ../includes/header
    img(src="/img/robotHead.png", alt="Robot Head", class="robot-head")
    include ../includes/footer
    //- p Created by #{name} (pug interpolation)
    //- p= 'Created by ' + name + ' (expression with js concatentation)'
    //- p= `Created by ${name} (expression with js template string)`