html
  head
    title Help
    link(rel='icon' href='/img/weather.png')
    link(rel='stylesheet' href='/css/styles.css')
  body
    div.main-content
      include ../includes/header
      p Age #{age}
    include ../includes/footer