html
  head
    title= title
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='icon' href='/img/weather.png')
    
  body
    div.main-content
      include ../includes/header
      p Use this site to get your weather
      form
        input(placeholder="Address")
        button Search
    include ../includes/footer
    script(src="/js/extra.js")